.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 270px;
  background-color: var(--color-black);
}

.heroImageWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 799px;
  height: 212px;
}

.banner {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  width: 37.8125rem; /* 605px converted to rem */
  text-align: center;
}

.banner span {
  margin: 10px;
  width: 100%;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.banner span:first-child {
  display: flex;
  justify-content: center;
}

.banner span:last-child {
  /* margin-left: 20px; */
  display: flex;
  justify-content: center;
}

@media (max-width: 48rem) {
  /* 768px converted to rem */
  .wrapper {
    height: auto; /* Let the height adjust based on content */
  }

  .heroImageWrapper {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
  }

  .banner {
    width: 100%; /* Adjust width for smaller screens */
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }

  .banner h1 {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}
