.logo {
  margin-left: 5px; /* Adjust the gap from the left border */
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 50px; /* Adjust height as needed */
  vertical-align: middle;
}
