.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #34c94b;
  --white-color: #ffffff;
  --black-color: #121212;
}

*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif !important;
}

body {
  background-color: var(--black-color);
}

.sectionWrapper {
  padding: 0px 30px 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tabsTitle {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: var(--color-white);
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--primary-color);
  border-top: var(--primary-color);
  color: var(--primary-color);
}
